---
interface Props{
    title: string;
    company: string;
    date: string;
    tecnology: string;
}
const { title, company, date, tecnology } = Astro.props;
---
<article class="flex flex-col lg:w-5/6 ">
    <div class="flex lg:justify-between max-lg:flex-col items-center">
        <article>
            <h3 class="text-black lg:text-titulo3 font-semibold">
                {title}
            </h3>
            <p class="text-black italic">{company}</p>
        </article>
        <article class="flex items-center">
            <p class="text-black font-semibold">{date}</p>
        </article>
    </div>
    <span class="text-gray-500 block text-left">{tecnology}</span>
    <div class="flex items-center justify-center">
        <slot/>
    </div>
</article>