---
---

<nav class="flex justify-end items-center p-4 ">
    <ul class="flex text-logo list-none font-holtwood text-black">
        <li class="mr-4 hover:text-secondary"><a href="/">Proyectos</a></li>
        <li class="mr-4 hover:text-secondary"><a href="/">Blogs</a></li>
        <li class="mr-4 hover:text-secondary"><a href="/">CV</a></li>
    </ul>
</nav>