---
---

<nav>
    <p class="text-gradient">KOG3KI</p>
    <ul>
        <li class="text-gradient"><a href="/">Blogs</a></li>
        <li class="text-gradient"><a href="/">CV</a></li>
        <li class="text-gradient"><a href="https://github.com/kogekii">GitHub</a></li>
    </ul>
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    nav ul {
        display: flex;
        list-style: none;
    }
    nav ul li {
        margin-right: 1rem;
    }
    nav ul li a {
        text-decoration: none;
    }
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
