---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en" class="bg-primary text-secondary h-screen w-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="w-screen min-w-screen h-screen">
		<header>
			<Navbar />
		</header>

		<main class="flex flex-col items-center">
			<slot />
		</main>
		<footer>
			<p class="text-center">
				© 2021, Built with{" "}
				<a href="https://astro.build" target="_blank" rel="noopener">
					Astro
				</a>
			</p>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	main {
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
